body {
    background-image: url("carnature.jpeg");
	 background-repeat: no-repeat;
		 background-size: 1350px 1200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04295C  ;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;


img {
  border-radius:3;
  
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 20px;
	
}

tr {
    background-color: #dddddd;
	text-align:center;
}

footer{
	text-align:center-right;
	background-color : gold;
	font-family : verdana;
	font-size:100%;
	font-style:oblique;
}

header{
	text-align : center;
	font-size:150%;
	font-family:verdana
	
}
ol{
	text-align:center-left;
	font-family:verdana;
	
}

.article{
	background-color:lightblue;
	font-family:verdana;
	border: 3px solid #dddddd;
	text-align:center;
	font-style:italic;
}

.frame{
    margin-left:1000px;
}